<!DOCTYPE html>
<html lang="en">
    <head>
        {% block head %}
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        {% if header.description %}
        <meta name="description" content="{{ header.description }}">
        {% else %}
        <meta name="description" content="{{ site.description }}">
        {% endif %}
        {% if header.robots %}
        <meta name="robots" content="{{ header.robots }}">
        {% endif %}
        <link rel="icon" type="image/png" href="{{ theme_url }}/images/favicon.png">

        <title>{% if header.title %}{{ header.title }} | {% endif %}{{ site.title }}</title>

        {% block stylesheets %}
            {# Custom styles for this theme #}
            {% do assets.add('theme://css/app.css',100) %}

            {{ assets.css() }}
        {% endblock %}

        {% block javascripts %}
            {% do assets.add('theme://js/app.min.js') %}

            {{ assets.js() }}
        {% endblock %}

        {% endblock head %}
    </head>

    <body id="grav-theme-stoneage" class="{{ page.template }}">
        <div class="page-wrapper">
        {# include the header + navigation #}
        {% include 'partials/header.html.twig' %}

        <main class="container">
            <div class="col-md-offset-1 col-md-10">
                {% block content %}{% endblock %}
            </div>
        </main>

        <footer class="footer">
            <div class="container text-center">
                    copy fork and do what you want with this content, source code is on github.
            </div>
        </footer>
        </div>
    </body>
    {% block bottom %}{% endblock %}
</html>